.container {
  box-sizing: border-box;
}
.panel {
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
}
.title {
  font-size: 16px;
}
.product-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-item {
  background: #ccc;
  border-radius: 4px;
  margin-top: 4px;
  width: 300px;
  height: 40px;
}
