.category-grid {
  --grid-item-width: calc(100vw / 3.8);
  --grid-item-image-with: calc(var(--grid-item-width) - 12vw);

  width: var(--grid-item-width);
  padding: 0 8px;
}

.category-grid-logo,
.skeleton-category-grid-logo {
  width: var(--grid-item-image-with);
  height: var(--grid-item-image-with);
  border-radius: 40%;
}

.skeleton-category-grid-names {
  width: calc(100% - 10px);
}

.category-grid-name {
  word-break: break-word;
}
