.category {
  width: var(--grid-item-width, 58px);
}

.category-logo,
.skeleton-category-logo {
  width: var(--grid-item-image-with, 48px);
  height: var(--grid-item-image-with, 48px);
  border-radius: 40%;
}
.category-name {
  word-break: break-word;
}
