.avatar {
  width: 72px;
  height: 72px;
}

.my-account {
  padding-top: calc(var(--safe-area-inset-top) + 16px);
}

.version {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
