.empty {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 64px;
}

.item {
  flex-direction: row;
  align-items: center;
}

.image {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}

.flex-1 {
  flex: 1;
}

.bottom {
  border: solid 0px  #efefef;
  border-top-width: 1px;
  height: 72px;
  padding-top: 8px;
}

.bottom text {
  text-align: center;
}

.submit {
  width: 100%;
}
