.between {
  justify-content: space-between;
}
.heading {
    font-size:14px;
    color: #81818A;
}

.component-item {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.mb-8 {
  margin-top:16px;
}
