.orders-page {
  padding-top: 45px;
}
.orders-page .tabs {
  position: fixed;
  top: 0;
}
.orders-page .tabs > button {
  width: 50vw;
  height: 45px;
  font-size: 14px;
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: #ebebf0;
}
.orders-page .tabs > button.active {
  font-weight: 700;
  color: #1a94ff;
  border-bottom-color: #1a94ff;
}
