.coupon-selector-input .t-input-wrap {
  padding-right: 60px;
}

.coupon-selector-input-action {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.coupon-selector-input-action .vertical-divider {
  height: calc(100% - 16px);
}
