.cart {
  min-height: 100vh;
}

.cart-footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.cart-footer-padding {
  padding-bottom: 96px;
}

.cart-remove-btn {
  height: fit-content;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08);
}

.cart-empty {
  margin-bottom: 56px;
}

.cart-empty image {
  width: 180px;
  height: 180px;
}
