.cart {
  min-height: 100vh;
  padding-bottom: 96px;
}

.cart-footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.cart-remove-btn {
  height: fit-content;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08);
}
