.products-images-index {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 12px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.4);
}

.products-images-skeleton {
  height: 225px;
}
