.home-section {
  padding: 16px;
  margin-bottom: 8px;
  background-color: var(--white);
}

.home-banners {
  background-color: var(--white);
}

.home-hot-deals,
.home-category-carousel {
  margin-left: -16px;
  margin-right: -16px;
}

.home-category-list {
  transform: translateX(20px);
}
