.home-section {
  padding: 16px;
  margin-bottom: 8px;
  background-color: var(--white);
}

.home-header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4);
}

.home-skeleton-logo {
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}

.home-header {
  padding-bottom: 20px;
}
