.item {
  padding-bottom: 0;
}

.item image {
  width: 40px;
  height: 40px;
}

.icon {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--gray20);
  margin-left: auto;
}

input {
  color: var(--brand) !important;
}
