.product-loading-more-skeleton {
  margin-top: 20px;
}

.product-section-divider,
.product-filtered-list {
  margin-left: -16px;
  margin-right: -16px;
}

.sticky-top-buttons {
  position: fixed;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
}
