.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--space-stack-2x-small) 0;
}

.rating-image {
  width: 8px;
  height: 8px;
  margin-right: var(--space-inline-5x-small);
}

.count {
  font-size: var(--font-size-small);
  color: var(--text-content-tertiary);
}
