.item {
  height: 80px;
  border: solid 1px blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
}

.margin-4 {
  margin: 4px;
}

.recycle {
  border: solid 1px red;
}
