
button {
  height: 48px;
  margin: 20px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px
}

.video {
  width: 320px;
  height: 225px;
}


.banner-ad {
  width: 100%;
  
}
