.banner {
  width: 750rpx;
  margin-bottom: 8px;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.sale {
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.carousel {
  margin-top: 16px;
}

.top {
  height: 40px;
  width: 100%;
  background: #C7E9F9;
}
