.divider {
  height: 8px;
  background-color: #efefef;
  width: 100%;
  margin: 16px 0;
}

.container {
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 12px;
}

.products {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
